/**Styles for Chat widget**/
.feedback-button{
    padding: 0 0 0 18%;
}
.feedback-button i{
    color : white;
}
.feedback-button .negative {
    display: inline;
    font-size: 35px !important;
    padding: 5px 13px !important;
    border: 0 !important;
    margin-right: 10px;
    border-radius: 50px !important;
    /* background-color: #D1254B;  */
    background-color: #94BCE8;
    
    
}
.feedback-button .negative:active {
    background-color: #D1254B;
}
.feedback-button .positive:active {
    background-color: #2FA352;
}
.feedback-button .positive {
    display: inline;
    font-size: 35px !important;
    padding: 5px 13px !important;
    border: 0 !important;
    margin: 0 5%;
    border-radius: 50px !important;
    /* background-color: #2FA352 !important; */
    background-color: #94BCE8;
}

 .close .fa-window-close{
    padding: 0;
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.title{
    padding: 10px 0;
    font-size: 18px;
}
.rcw-conversation-container .rcw-header {
    display: none;
    /* background-color: #3B7FC4;
    border-radius: 0px 0px 0 0;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 6px 10px; */
}

.rcw-conversation-container .rcw-title {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.rcw-conversation-container .rcw-close-button {
    display: none
}

.rcw-conversation-container .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
    vertical-align: middle
}

.rcw-full-screen .rcw-header {
    border-radius: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative
}

.rcw-full-screen .rcw-title {
    padding: 0 0 15px
}

.rcw-full-screen .rcw-close-button {
    background-color: #004c91;
    border: 0;
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40px
    
}

.rcw-full-screen .rcw-close {
    width: 20px;
    height: 20px
}

@media screen and (max-width: 800px) {
    .rcw-conversation-container .rcw-header {
        border-radius: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        position: relative
    }

    .rcw-conversation-container .rcw-title {
        padding: 0;
    }

    .rcw-conversation-container .rcw-close-button {
        background-color: #004c91;
        border: 0;
        display: block;
        position: absolute;
        right: 0px;
        width: 40px
    }

    .rcw-conversation-container .rcw-close {
        width: 20px;
        height: 20px
    }
}

.rcw-messages-container {
    background-color: #fff;
    height: 100vh;
    max-height:80vh;
    overflow-y: scroll;
    padding-top: 10px
}

.rcw-full-screen .rcw-messages-container {
    height: 100%;
    max-height: none
}

@media screen and (max-width: 800px) {
    .rcw-messages-container {
        height: 80vh;
        max-height: none
    }
}

.rcw-sender {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    background-color: #f4f7f9;
    height: 45px;
    padding: 5px;
    border-radius: 0 0 10px 10px
}

.rcw-new-message {
    width: 100%;
    border: 72px;
    border: 1px solid gainsboro;
    /* height: 30px; */
    padding: 5px 10px;
    /* margin-bottom: 21px; */
    /* margin-top: 15px; */
    /* padding-left: 15px; */
}

.rcw-new-message:focus {
    outline: none
}

.rcw-send {
    background: #f4f7f9;
    border: 0
}

.rcw-send .rcw-send-icon {
    height: 25px
}

@media screen and (max-width: 800px) {
    .rcw-sender {
        border-radius: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }
}

.rcw-conversation-container {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: c;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: .5s;
    -moz-animation-name: c;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: .5s;
    animation-name: c;
    animation-fill-mode: forwards;
    border-radius: 10px;
}

.rcw-slide-out {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: d;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: .5s;
    -moz-animation-name: d;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: .5s;
    animation-name: d;
    animation-fill-mode: forwards
}

.rcw-full-screen .rcw-conversation-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

@media screen and (max-width: 800px) {
    .rcw-conversation-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%
    }
}

.rcw-launcher .rcw-badge {
    /* display: none; */
    position: fixed;
    top: -10px;
    right: -5px;
    background-color: red;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%
}

.rcw-launcher {
    display: none;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: c;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: .5s;
    -moz-animation-name: c;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: .5s;
    animation-name: c;
    animation-fill-mode: forwards;
    -ms-flex-item-align: end;
    background-color: #3b7fc4;
    border: 1px solid white;
    border-radius: 50%;
    height: 29px;
    margin-top: 10px;
    width: 30px;
    position: absolute;
    right: 5px;
    top: -5px;
}

.rcw-launcher:focus {
    outline: none
}

.rcw-open-launcher {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: b;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: .5s;
    -moz-animation-name: b;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: .5s;
    animation-name: b;
    animation-fill-mode: forwards
}

.rcw-close-launcher {
    width: 20px;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: a;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: .5s;
    -moz-animation-name: a;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: .5s;
    animation-name: a;
    animation-fill-mode: forwards
}

@media screen and (max-width: 800px) {
    .rcw-launcher  {
        bottom: 0;
        margin: 20px;
        position: fixed;
        right: 40px;
    }
     
    .rcw-hide-sm {
        display: none;
    }
}

@keyframes a {
    0% {
        transform: rotate(-90deg)
    }

    to {
        transform: rotate(0)
    }
}

@keyframes b {
    0% {
        transform: rotate(90deg)
    }

    to {
        transform: rotate(0)
    }
}

@keyframes c {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes d {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(10px)
    }
}

.rcw-widget-container {
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    /* position: fixed; */
    right: 0;
    z-index: 1
}

.rcw-widget-container button {
    padding: 0;
}

.rcw-widget-container button img {
    width: 18px !important;
    height: 18px !important;
    margin-top: -3px;
}

.rcw-opened {
    display: block !important;
    visibility: visible !important;
}

.rcw-full-screen {
    margin: 0;
    max-width: none;
    width: 100%
}

.rcw-full-screen.rcw-opened {
    width: 100%;
    height: 100%
}

@media screen and (max-width: 800px) {
    .rcw-widget-container {
        margin: 0;
        max-width: none;
        width: 100%
    }

    .rcw-widget-container.rcw-opened {
        height: 100%
    }
}

.rcw-message {
    margin: 10px;
    display: -ms-flexbox;
    /* display: flex */
}

.rcw-client {
    /* background-color: gainsboro;
    margin-left: auto;
    font-weight: 500;
    color: black; */
    background-color: #3B7FC4;
    margin-left: auto;
}

.rcw-client,
.rcw-response {
    border-radius: 20px;
    padding: 10px 15px;
    max-width: 80%;
    text-align: left
}

.rcw-response {
    /* background-color: #3B7FC4; */
    background-color: gainsboro;
    /* margin-left: auto; */
    font-weight: 400;
    font-size: 13px;
    color: black;

}

.rcw-message {
    font-size: 14px
}

.rcw-message-text p {
    margin: 0
}

.rcw-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px
}

.rcw-snippet {
    background-color: gainsboro;
    border-radius: 20px;
    padding: 15px;
    /* max-width: 215px; */
    text-align: left
}

.rcw-snippet-title {
    margin: 0;
    color : black;
    font-weight: 400;
    font-size: 13.5px; 
}

.rcw-snippet-details {
    border-left: 2px solid teal;
    margin-top: 5px;
    padding-left: 10px
}

.rcw-link {
    font-size: 12px
}

/* .feedback {
    width : 100%;
  } */
    /* .close {
    
      opacity: 1;
          color: white;
          font-size: 22px;
          padding: 5px 7px;
          border-radius: 50%;
          opacity: 1;
          border: 1px solid white;
          margin-top : 10px;
      
    } */
  
  
  
  /* button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 7px;
    padding-right: 10px; 
    
    
   } 
  .good{
    background-color: gainsboro; Green
    .active{
        background-color: #4CAF50;
    }
  }
  
  .good i{
    font-size:48px;
    color : #2a662c;
  }
  .bad{
    background-color: gainsboro; 
    .active{
        background-color: #E8475A;
    }
  }
  .bad i
  {
    font-size:48px;
    color : #a61929;
  } */