
body {
  overflow-y: auto;
  /* background-image: url("../images/body-bg.jpg"); */
  background-color: #eef5f9;
}
.col-12,.col-md-12{
  padding: 0;
  max-width: 100%;
  flex: auto;
}
form{
  margin: 0;
}
.row{
  width: 100%;
  margin: 0 auto;
}
.btn-default{
  border:none !important;
  padding: 5px;
  background-color: white;
}


/****navbar****/
.navbar{
  padding: 10px 0 !important;
  background-color: white;
}
.navbar .navbar-brand{
  padding: 0;
  color: #006fb9;
  font-weight: bold;
  font-size: 18px;
}

.dropdown-item {
    /* display: block; */
    width: 100%;
    padding: 5px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-menu{
  padding: 0px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.navbar .navbar-brand:focus,.navbar .navbar-brand:hover{
 color: #006fb9;
}
.navbar .btn{
  margin-right: 5px;
}
.navbar .navbar-brand:hover{
  color: #006fb9;
}
.navbar .nav-item .nav-link{
  color: #006fb9;
}
.navbar .nav-item .nav-link:hover{
  color: #006fb9;
}
.navbar .btn-default{
  font-weight: bold;
}
.navbar .nav-item .nav-link:focus,.navbar .nav-item .nav-link.active{
  background-color: white;
   color: #006fb9;
   box-shadow: none;
}
.navbar .icon-activities {
  margin-right: 25px;
}
.navbar .icon-activities a{
  border-right: 1px solid #d5d5d5;
}
.navbar .icon-activities a:last-child{
   border-right:none;
}

/********main-body***/
.main-body{
  float: right;
  width: 85%;
  padding: 60px 0;
}

.nav-strip{
  color: white;
  height: 30px;
  background-color: #006fb9;
}
.nav-strip ul{
  list-style: none;
  padding-right: 15px;
}
.nav-strip ul li{
  font-size: 14px;
  line-height: 2.2;
}


/***search component****/
.home-search-strip {
  margin-bottom: 15px;
}
.home-search-strip .home-strip{
  background-color: white;
  border:1px solid #d5d5d5;
}
.home-search-strip .home-strip form{
  margin-bottom: -10px;
}
.home-search-strip .home-strip .form-group .col-md-6{
  padding: 0;
}

/***overview***/
.overview{
  box-shadow: 0 -1px 5px 1px rgba(0,0,0,0.1);
  width: 98%;
  margin: 0 auto 15px;
}
.overview h4{
  background-color: #afabab;
  margin: 0;
  font-size: 20px;
  color: white;
  line-height: 1;
  padding: 3px 0 8px;
}
.overview .col-md-3{
  float: left !important; 
  width: 25%;
  padding: 0;
}
.overview .col-md-8,.overview .col-md-8 .col-12{
  padding: 0;
}
.overview .box{
  padding: 15px;
  background-color: white;
}
.overview .fa-icon{
  background-color: white;
  width: 60px;
  color: #006fb9;
  border:2px solid #006fb9;
  text-align: center;
  border-radius: 50px;
  height: 60px;
}
.overview .fa-icon i{
  font-size: 25px;
  line-height: 2;
    margin: 0;
}
.overview .fa{
  margin: 5px 3px;
}
.overview .fa-arrow-up{
  color: #00b050;
}


/*****metrics-by-focus-area*****/
.metrics-by-focus-area{
  background-color: white;
  box-shadow: 0 -1px 5px 1px rgba(0,0,0,0.1);
  width: 98%;
  margin: 0 auto 15px;
}
.metrics-by-focus-area img{
  width: 100%;
}
.metrics-by-focus-area h4{
  background-color: #afabab;
  margin: 0 0 10px;
  font-size: 20px;
  color: white;
  line-height: 1;
  padding: 3px 0 8px;
}