@media(min-width: 320px) and (max-width: 768px){
    .navbar-dark .navbar-toggler {
	    color: rgba(255,255,255,.5);
	    background-color: #006fb9;
	    border-color: rgba(255,255,255,.1);
	    padding: 5px;
	    margin: 0 10px;
	}
	.navbar .nav-item .nav-link {
	    color: #006fb9;
	    padding: 0 10px;
	}
	.navbar .ml-auto{
		display: none;
	}
	.side-bar{
		width:50% !important;
	}
	.side-bar .menu-icons{
	  display: block !important;
	  width: 100%;
	}
	.side-bar .menu-icons .d-flex{
		display: auto;
		flex: none;
	}
	.side-bar .menu-icons ul li a{
		float: left !important;
	}

	.main-body{
		width: 100% !important;
		padding: 10px;
	}
}
