.section {
  width: 100%;
}

.navbar {
  background-color: #004c91;
  color: white;
  padding: 0;
  height: 50px;

  button span {
    line-height: 4;
    margin-left: 5px;
  }

  .profile-popup{
    position: absolute;
    right: 0;
  }

  .search-modal-icon{
    display: none;
  }

  .mainlogo {
    width: 150px;
    height: 50px;
    margin: 0 10px;
  }

  .logo-area {
    min-width: 14%;
  }

  .spark-logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: none !important;
  }

  .nav-link {
    font-weight: 590;
    font-size: 14px;
    line-height: 2;
  }

  .btn:hover {
    color: white;
  }

  .button-hide {
    background: transparent;
    padding: 0;
    border: 0;
  }

  .navbar-brand {
    padding: 0;
    height: 38px;
    width: 125px;
    margin: 0 5px;
  }

  .form-action {
    width: 79%;
    margin: 0 auto;
    left: 12.8%;
    padding: 0 5px;
    position: absolute;

    .input-group {
      margin: 0 auto;
      width: 58%;
      i {
        opacity: 0.4;
      }
      ::placeholder {
        opacity: 0.3;
      }
    }
  }

  .form-control {
    border: 0;
    flex: auto;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 590;
    height: 30px;
    line-height: 1.5;

    &:focus {
      border: none !important;
      box-shadow: none !important;
    }
  }

  .input-group-text {
    background-color: white;
    box-shadow: none;
    border: 0;
    cursor: pointer;
  }

  button {
    padding-top: 27px;
    color: white;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .dropdown{
    a{
      color: white;
    }
    img{
      width: 30px;
      margin-right: 5px;
    }
    .dropdown-menu {
      overflow: hidden;
      left:0;
      a{
        color: black;
      }
  
      .nav-item {
        padding: 0;
      }
  
      .dropdown-item {
        padding: 0 10px;
  
        &:hover,
        &:focus,
        &:active {
          background-color: #004c91;
          color: white;
        }
      }
    }
  }

  .nav-item:hover .nav-link {
    color: white;
  }
}

@media (min-width: 300px) and (max-width: 520px) {
  .navbar {
    height: 48px !important;

    .search-modal-icon{
      display: block;
      margin-top: 14px;
    }
    .main-logo {
      display: none;
    }

    .form-action {
      margin: auto;
      width: auto;
    }
  }

  .input-group-text {
    padding: 0px 6px;
  }

  .fa-search {
    margin-top: 7px;
    margin-right: 7px;
    cursor: pointer;
  }

  .navbar {
    .navbar-brand {
      display: none;
    }

    .form-control {
      width: 30%;
      display: flex;
      margin: auto;
    }

    .dropdown-menu {
      left: -48px !important;
    }

    .search-icon {
      display: block;
    }

    .spark-logo {
      width: 47px;
      display: block;
      margin-left: 5px;
      height: 44px;
    }

    button img {
      width: 30px;
      height: 30px;
    }

    .navbar-nav {
      flex-direction: row !important;

      .pt-2 {
        padding-top: 0.2rem !important;
      }
    }

    .navbar-brand {
      margin-right: 0;
    }

    .button-hide {
      display: none;
    }

    .dropdown {
      img{
        margin: 0;
      }
    }

    .dropdown-menu {
      background-color: white;
      top: 40px;
      min-width: 100px;
      right: 0;
      position: absolute;
      
    }

    .dropdown span {
      display: none;
    }

    .ml-auto {
      padding-right: 5px;
    }

    button {
      padding: 0px;
      font-size: 16px;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .input-group {
      float: right;
      display: none;
      width: auto !important;
    }

    .search-icon {
      display: flex-end;
    }
  }

  .modal {
    .modal-dialog {
      max-width: 100% !important;
      width: 100%;
      padding: 0;
      top: -10px !important;
      right: 0% !important;
    }

    .modal-title {
      font-size: 18px;
      margin: 5px 0;
    }
  }
}

@media (min-width: 520px) and (max-width: 768px) {
  .navbar {
    height: 50px !important;
    flex-wrap: nowrap;
    li .fa-search{
      display: none;
    }

    .main-logo {
      display: none;
    }

    .form-action {
      margin: auto;
      display: -webkit-box;
    }
  }

  .modal-header .close {
    margin: 0px !important;
  }

  .fa-search {
    margin-top: 7px;
    margin-right: 7px;
    cursor: pointer;
  }

  .input-group-text {
    padding: 0px 8px;
  }

  .input-group-text .fa-search {
    margin-top: 7px;
  }

  .navbar {
    .form-control {
      display: flex;
      margin: auto;
    }

    .dropdown-menu {
      left: -48px !important;
    }

    .search-icon {
      display: block;
    }

    .spark-logo {
      width: 50px;
      display: block;
      margin-left: 5px;
      height: 45px;
    }

    button img {
      width: 30px;
      height: 30px;
    }

    .navbar-nav {
      flex-direction: row !important;

      .pt-2 {
        padding-top: 0.2rem !important;
      }
    }

    .navbar-brand {
      margin-right: 0;
    }

    .button-hide {
      display: none;
    }

    .dropdown-menu {
      background-color: white;
      top: 40px;
      min-width: 100px;
      right: 0;
      position: absolute;
    }

    .dropdown span {
      display: none;
    }

    .ml-auto {
      padding-right: 5px;
    }

    button {
      padding: 0px !important;
      font-size: 16px;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .search-icon {
      display: flex-end;
    }
  }

  .modal {
    .modal-dialog {
      top: -7px; 
    max-width: 100% !important;
    padding: 0px 23.3%;
    margin: 15px auto 0 !important;
    position: fixed !important;
    /* right: 14% !important; */
    }

    .modal-title {
      font-size: 18px;
      margin: 5px 0;
    }
  }
}

@media (min-width: 766px) and (max-width: 770px) {
  // .spark-logo {
  //   display: block !important;
  // }
  .modal-header .close {
    margin: 4px !important;
  }
  .navbar{
    .form-action {
      position: static;
    }
    .input-group-text {
      padding: 0px 8px !important;
    }
    li .fa-search{
      display: none;
    }
    .modal{
      .modal-dialog{
        max-width: 100%;
        padding:0 24.1% 0 26.7%;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 950px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
  }

  .navbar {
    flex-wrap: nowrap;
    .form-action {
      margin: auto;
      padding: 0 15%;
    }
    li .fa-search{
      display: none;
    }
    .input-group {
      width: 100% !important;
      padding: 8px;
      display: -webkit-box !important;
      border: 0;
    }
    .form-control {
      height: 30px !important;
    }
    .input-group-text {
      padding: 3px 8px;
    }
   
  
    .button-hide {
      display: none;
    }
    .modal {
      .modal-dialog {
        top: -2px;
        max-width: 100% !important;
        margin: 10px auto 0 !important;
        position: fixed !important;
        right: 0 !important;
        padding:0 14% 0 28%;
      }

      .modal-title {
        font-size: 18px;
        margin: 7px 0;
      }
    }
    .form-control {
      display: flex;
      width: 100%;
      margin: auto;
    }

    .dropdown-menu {
      left: -48px !important;
    }

    .spark-logo {
      display: none;
    }

    button img {
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }

    .navbar-nav {
      flex-direction: row !important;

      .pt-2 {
        padding-top: 0.2rem !important;
      }
    }

    .navbar-brand {
      margin-right: 0;
    }


    .dropdown-menu {
      background-color: white;
      top: 40px;
      min-width: 100px;
      right: 0;
      position: absolute;
    }

    .dropdown span {
      display: none;
    }

    .ml-auto {
      padding-right: 5px;
    }

    button {
      padding: 0px 0 0 5px;
      font-size: 16px;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .search-icon {
      display: flex-end;
    }
  }
}

@media (min-width: 951px) and (max-width: 1024px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
  }

  .navbar {
    flex-wrap: nowrap;
    .form-action {
      margin: auto;
    position: absolute;
    left: 94px;
    }
    li .fa-search{
      display: none;
    }
    .input-group {
      // width: 100% !important;
      // padding: 8px;
      display: -webkit-box !important;
      border: 0;
    }
    .form-control {
      height: 30px !important;
    }
    .input-group-text {
      padding: 3px 8px;
    }
   
  
    .button-hide {
      display: none;
    }
    .modal {
      .modal-dialog {
        top: -2px;
        max-width: 100% !important;
        margin: 10px auto 0 !important;
        position: fixed !important;
        right: 0 !important;
        padding:0 19% 0 26%;
      }

      .modal-title {
        font-size: 18px;
        margin: 7px 0;
      }
    }
    .form-control {
      display: flex;
      width: 100%;
      margin: auto;
    }

    .dropdown-menu {
      left: -48px !important;
    }

    .spark-logo {
      display: none;
    }

    button img {
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }

    .navbar-nav {
      flex-direction: row !important;

      .pt-2 {
        padding-top: 0.2rem !important;
      }
    }

    .navbar-brand {
      margin-right: 0;
    }


    .dropdown-menu {
      background-color: white;
      top: 40px;
      position: absolute;
      min-width: 100px;
      right: 0;
      position: absolute;
    }

    .dropdown span {
      display: none;
    }

    .ml-auto {
      padding-right: 5px;
    }

    button {
      padding: 0px 0 0 5px;
      font-size: 16px;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .search-icon {
      display: flex-end;
    }
  }
}

@media (min-width: 1380px) and (max-width: 1500px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
  }

  .navbar {
    flex-wrap: nowrap;
    .form-action {
      margin: auto;
      width: 100%;
      padding: 0 22% 0 8%;
    }
    li .fa-search{
      display: none;
    }
    .input-group {
      width: 100% !important;
      padding: 8px;
      display: -webkit-box !important;
      border: 0;
    }
    .form-control {
      height: 30px !important;
    }
    .input-group-text {
      padding: 3px 8px;
    }
   
  
    .modal {
      .modal-dialog {
        top: -2px;
        max-width: 100% !important;
        margin: 10px auto 0 !important;
        position: fixed !important;
        right: 0 !important;
        padding:0 20.5% 0 20%;
      }

      .modal-title {
        font-size: 18px;
        margin: 7px 0;
      }
    }
    .form-control {
      display: flex;
      width: 100%;
      margin: auto;
    }

    .dropdown-menu {
      left: -48px !important;
    }

    .spark-logo {
      display: none;
    }

    button img {
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }

    .navbar-nav {
      flex-direction: row !important;

      .pt-2 {
        padding-top: 0.2rem !important;
      }
    }

    .navbar-brand {
      margin-right: 0;
    }

    // .button-hide {
    //   display: none;
    // }

    .dropdown-menu {
      background-color: white;
      top: 40px;
      min-width: 100px;
      right: 0;
      position: absolute;
    }

    .dropdown span {
      display: none;
    }

    .ml-auto {
      padding-right: 5px;
    }

    button {
      padding: 0px 0 0 5px;
      font-size: 16px;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .search-icon {
      display: flex-end;
    }
  }
}
@media (min-width: 1600px) and (max-width: 1900px) {
  .navbar {
    .input-group {
      padding: 0 1% 0 2.2%;
    }
    .modal {
      .modal-dialog {
        margin: 0 auto;
        width: 100%;
        margin-top: 8px;
      }

      .modal-title {
        font-size: 18px;
        margin: 5px 0;
      }
    }
  }
}
