.nav-strip {
  color: white;
  height: 30px;
  position: fixed;
  top: 50px;
  z-index: 1000 !important;
  width: 100%;
  background-color: #006fb9;
}

.nav-strip ul {
  list-style: none;
  padding-right: 15px;
}

.nav-strip ul li {
  font-size: 14px;
  line-height: 2.2;
}